/* 공통 */

.space-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.w-per100 {
    width: 50%;
}

.w-per50 {
    width: 50%;
}

.display-none {
    display: none;
}

.bg-orange {
    background: #FF9800;
}

.bg-danger {
    background: #E11D48;
}

.bg-green {
    background: #00C853;
}

.font-16 {
    font-size: 16px !important;
}

.h-48 {
    height: 48px !important;
}



// button

.btn-lang {
    background: #DBEAFE;
    border-radius: 15px;
    width: 60px;
    height: 24px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #2563EB;

    &.orange {
        background: #FFF5E5;
        color: #ED8D00;
        border: none;
    }
}

.btn-business {
    background: #FF9800;
    border: 1px solid #ED8D00;
    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
    border-radius: 5px;
    color: #fff;
    height: 28px;
    box-sizing: border-box;
}

.btn-outline-business {
    color: #FF9800;
    border: 1px solid #FF9800;
    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
    border-radius: 5px;
    height: 28px;
    box-sizing: border-box;
}

.btn-gray-business {
    background: #E4E7EA;
    border: 1px solid #E4E7EA;
    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
    border-radius: 5px;
    height: 28px;
    box-sizing: border-box;
    color: #808386;
}

.btn-gray-type1 {
    background: #E4E7EA;
    border: 1px solid #E4E7EA;
    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #808386;
    box-sizing: border-box;
}

.btn-business-white {
    background: #FDFEFF;
    color: #333333;
    border: 1px solid #A8ABAE;
    border-radius: 5px;
}

.btn-blue-type1 {
    background: #DBEAFE;
    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #3686FF;
    border: none;
}

.btn-blue-type2 {
    background: #FFFFFF;
    border: 1px solid #DBEAFE;
    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #72AAFF;
}

.btn-cancle-type1 {
    background: #FFFFFF;
    border: 1px solid #E4E7EA;
    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
    border-radius: 5px;
    color: #808386;
}

.box-type-default {
    border: 1px solid #E2E8F0;
    box-shadow: 0px 4px 6px -1px rgba(15, 23, 42, 0.08);
    border-radius: 10px;
    background: #fff;
}

.btn-line {
    width: 100%;
    background: #06C755;
    border-radius: 5px;
    color: #fff;
    padding: 12px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.btn-google {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D0D6D6;
    border-radius: 5px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding: 12px 0;
}

.btn-kakao {
    width: 100%;
    background: #F9E000;
    border-radius: 5px;
    color: #371D1E;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding: 12px 0;
}

.btn-black {
    width: 100%;
    background: #333333;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding: 12px 0;
    color: #fff;
}

.search-box {
    input {
        height: 48px;
        box-sizing: border-box;
    }
}

.drop-48 {
    button {
        height: 48px;
        box-sizing: border-box;
    }
}

.btn-orange-type1 {
    color: #FF9800;
    background: #FFF7EB;
    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
    border-radius: 5px;
    border: none;
    height: 30px;
}


// table  기본폰트사이즈
.table {
    .text-sm {
        font-size: 12px;
    }

    .complete {
        color: #A8ABAE;
    }
}


// topmenu
.top-menu-login-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #808386;
}

// side-menu

.side-nav ul ul {
    padding: 15px 0 10px;
    border-radius: 0 0 5px 5px;
    margin-top: -5px;
    margin-bottom: 6px;

    .side-menu {
        height: 20px;
        margin-bottom: 6px !important;
        color: #808386;

        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        a.side-menu--active .side-menu__title {
            color: #333333;
        }
    }
}



//reserve-mng

tr.table-content {
    &.open-table {
        display: none;
    }

    &:hover {
        td {
            background: none !important;

        }
    }
}



// notification top
.notification-content {
    &.orange {
        .btn-blue-type1 {
            background: #FFF5E5;
            box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
            border-radius: 5px;
            border: none;
            color: #FF9800;
        }

        .btn-blue-type2 {
            background: #FFFFFF;
            border: 1px solid #FFF5E5;
            box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
            border-radius: 5px;
            border: none;
            color: #FF9800;

        }

        .noti-cont-btn {
            svg {
                stroke: #808386;
            }
        }

        .noti-btm {
            color: #A8ABAE;
        }

        .btn-seeall {
            background: #FF9800;
            box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
            border-radius: 5px;
        }
    }

    width: 404px;

    .noti-tit {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #333333;
    }

    .noti-tit-cont {
        button {
            width: 80px;
            height: 28px;
            box-sizing: border-box;
        }
    }

    .noti-cont-box {
        padding: 10px 0;
        border-bottom: 1px solid #E4E7EA;

        .noti-cont-tit {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #333333;
            margin-bottom: 4px;
        }

        .noti-cont-subtit {
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: #808386;
            margin-bottom: 4px;
            text-align: left;
        }

        .noti-cont-date {
            font-weight: 400;
            font-size: 10px;
            line-height: 140%;
            color: #A8ABAE;
        }
    }

    .noti-btm {
        margin-top: 30px;
    }

    .btn-seeall {
        height: 48px;
        background: #3686FF;
    }
}

// dashboard

.dashboard {
    &-cont {
        &-tit {
            background: #F8FAFC;
            padding: 11px 16px;

            .dashboard-tit-list {
                font-weight: 400;
                font-size: 12px;
                line-height: 140%;
                color: #64748B;
            }
        }

        &-cont {
            padding: 19px 20px 0 20px;
            gap: 16px;

            .dash-cont1-tit {
                color: #333;
                font-size: 16px;
                position: relative;

                &:first-child {
                    padding-right: 16px;
                }

                &:last-child {
                    padding-left: 16px;

                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 14px;
                        background: #E4E7EA;
                    }
                }
            }

            .dash-cont-cont2 {
                width: 220px;
                gap: 3px;
            }

            .progress-bar-tit {
                color: #A8ABAE;
                font-weight: 400;
                font-size: 12px;
                line-height: 140%;
            }

            .progress {
                background: #E4E7EA;
            }

            .dash-cont-cont3 {
                gap: 10px;
                min-width: 303px;
                justify-content: flex-end;

                button {
                    width: 80px;

                    &.btn-auto {
                        width: auto;
                    }
                }

                .btn-outline-secondary {
                    color: #A8ABAE;
                    border: 1px solid #E4E7EA;
                    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
                    border-radius: 5px;
                }
            }

            .cont-btm {
                display: flex;
                justify-content: space-between;
                padding-bottom: 16px;
                border-bottom: 1px solid #E2E8F0;

                &-btn {

                    display: flex;
                    flex-flow: row wrap;
                    gap: 10px;
                    padding-left: 20px;
                }

                &-arrow {
                    height: 24px;

                    svg {
                        stroke: #A8ABAE;
                    }
                }
            }


        }

        .all-btn-wrap {
            padding: 20px;
            margin-bottom: 30px;
            gap: 10px;

            .btn {
                width: 100px;
                height: 28px;
            }
        }
    }

    .form-check-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #64748B;
    }

    &.orange {
        .form-check-input {
            &:checked {
                background-color: #FF9800;
                box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
                border-radius: 4px;
            }
        }

        .form-check {
            padding: 0;

            &:after {
                display: none;

            }
        }


    }


    .pagination-wrap {

        margin-top: 30px;



        .left-btn {
            button {
                width: 100px;
                height: 38px;
                background: #FFFFFF;
                border: 1px solid #E2E8F0;
                box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
                border-radius: 4px;
                box-sizing: border-box;
                color: #CBD5E1;

                &.active {
                    color: #1B4398;
                }
            }
        }

        .right-btn {
            button {
                width: 73px;
                height: 38px;
                background: #FFFFFF;
                border: 1px solid #E2E8F0;
                box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
                border-radius: 4px;
                box-sizing: border-box;
                color: #CBD5E1;

                &.active {
                    color: #1B4398;
                }

            }

        }

        &.orange {
            .page-item.active {

                .page-link {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: #FF9800;
                }
            }

            .page-link {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #808386;
            }

            .left-btn,
            .right-btn {
                button {
                    &.active {
                        color: #FF9800;
                    }
                }
            }

            .left-btn {
                button {
                    color: #FFEACC;
                    background: #FFFFFF;
                    border: 1px solid #FAF0E1;
                    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
                    border-radius: 4px;
                }
            }
        }

        .pagination {
            .page-item.active {
                .page-link {
                    background: #FFFFFF;
                    border: 1px solid #E2E8F0;
                    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
                    border-radius: 19px;
                }

            }

            .page-link {
                margin-right: 0;

                &:focus {
                    --tw-ring-shadow: none;
                }
            }
        }
    }
}

.pagination-wrap {

    margin-top: 30px;



    .left-btn {
        button {
            width: 100px;
            height: 38px;
            background: #FFFFFF;
            border: 1px solid #E2E8F0;
            box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
            border-radius: 4px;
            box-sizing: border-box;
            color: #CBD5E1;

            &.active {
                color: #1B4398;
            }
        }
    }

    .right-btn {
        button {
            width: 73px;
            height: 38px;
            background: #FFFFFF;
            border: 1px solid #E2E8F0;
            box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
            border-radius: 4px;
            box-sizing: border-box;
            color: #CBD5E1;

            &.active {
                color: #1B4398;
            }

        }

    }

    &.orange {
        .page-item.active {

            .page-link {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #FF9800;
            }
        }

        .page-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #808386;
        }

        .left-btn,
        .right-btn {
            button {
                &.active {
                    color: #FF9800;
                }
            }
        }

        .left-btn {
            button {
                color: #FFEACC;
                background: #FFFFFF;
                border: 1px solid #FAF0E1;
                box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
                border-radius: 4px;
            }
        }
    }

    .pagination {
        .page-item.active {
            .page-link {
                background: #FFFFFF;
                border: 1px solid #E2E8F0;
                box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
                border-radius: 19px;
            }

        }

        .page-link {
            margin-right: 0;

            &:focus {
                --tw-ring-shadow: none;
            }
        }
    }
}

.orange-noti-user {
    position: relative;

    .number-noti {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -11px;
        top: 0;
        background: #FF9800;
        border-radius: 100%;
        color: #fff;
        width: 23px;
        height: 23px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 10px;
        color: #fff;
        line-height: 140%;

        &.blue {
            background: #3686FF;
        }
    }
}

// resume-mng
// resume-regist-cont

.resume-regist-cont {
    padding: 30px 95px;

    .camera-subtit {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #A8ABAE;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .camera-subtit2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #A8ABAE;
        margin-top: 10px;
        margin-bottom: 10px;

        &+img {
            display: block;
            width: 120px;
        }
    }

    .form-per50-box {
        width: 50%;
    }

    .form-flex-box {
        gap: 30px;
        margin-bottom: 20px;

        select,
        input,
        button {
            height: 48px;
            box-sizing: border-box;
        }

        .toggle-input {
            height: 24px;
            width: 44px;
            box-sizing: border-box;
            background: #E4E7EA;

            &:checked {
                background: #3686FF;

                &:before {
                    background: #fff;
                    margin-left: 20px;
                }
            }

            &:before {
                background: #fff;
            }
        }

        .switch-tit {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #A8ABAE;
        }

        .btn-age {
            height: 48px;
            box-sizing: border-box;
            background: #F8FBFE;
            border: 1px solid #E4E7EA;
            border-radius: 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #808386;
            cursor: default;
        }

        .box-item {
            width: 50%;
            gap: 10px;

            textarea {
                height: 136px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
            }
        }

        .box-item2 {
            width: 100%;
            gap: 10px;
        }



        .form-tit {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #333;
            margin-top: 10px;

            span {
                color: #E11D48;
            }

            .blue {
                font-weight: 400;
                font-size: 12px;
                line-height: 140%;
                color: #3686FF;
                margin-left: 10px;
            }
        }
    }

    .divider {
        width: 100%;
        height: 1px;
        margin: 50px 0;
        background: #E4E7EA;
    }

    .flex-box2-tit {
        .box2-tit {
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            display: flex;
            align-items: center;
            color: #333333;

            span {
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                display: flex;
                align-items: center;
                color: #E11D48;
                margin-left: 6px;
            }
        }


        .add-btn {
            gap: 6px;
            height: auto;
            padding: 3px 10px;
            background: #FFFFFF;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: #3686FF;
            border: 1px solid #3686FF;
            border-radius: 12px
        }

        .minus-btn {
            gap: 6px;
            height: auto;
            padding: 3px 10px;
            background: #FFFFFF;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: #A8ABAE;
            border: 1px solid #A8ABAE;
            border-radius: 12px
        }
    }

    .flex-box2-cont {
        background: #F8FBFE;
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        .box-item2 {
            margin-bottom: 20px;
        }



        .btn-flex-select {
            background: #FFFFFF;
            border: 1px solid #E4E7EA;
            border-radius: 5px;
            color: #808386;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
        }

        .btn-register {
            border: 1px solid #3686FF;
            box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
            border-radius: 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            color: #3686FF
        }

    }

    .btn-flex-box {
        gap: 20px;
        margin-bottom: 50px;

        button {
            height: 40px;
        }

        .blue-btn-wrap {
            margin-top: 0 !important;
            flex-flow: row wrap;
            max-width: 688px;
            gap: 10px;

            span {
                &:last-of-type {
                    padding-left: 0 !important;
                    margin-right: 0 !important;
                }
            }
        }
    }

    .blue-tit {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #3686FF;
    }

    .blue-btn-wrap {
        margin-top: 10px;

        .blue-btn {
            display: flex;
            align-items: center;
            background: #EDF5FF;
            border-radius: 15px;
            padding: 4px 20px;
            height: 28px;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #3686FF;
            display: block;


            span {
                display: inline-block;

                &:first-child {
                    margin-right: 8px;
                }

                &:last-of-type {
                    padding-left: 8px;
                    position: relative;

                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 11px;
                        background: #3686FF;
                    }
                }
            }

            &.no-after {
                span {
                    &:after {
                        display: none;
                    }
                }
            }

            .blue-x-btn {
                margin-left: 10px;
                height: auto;
            }
        }
    }

    .attach-wrap {
        margin-top: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #333333;
        gap: 38px;
        align-items: flex-start;

        .attach-icon {
            height: auto;
            margin-left: 10px;
        }
    }

    .attach-cont-item {
        width: 254px;
    }

    .attach-cont-tit {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333333
    }

    .attach-cont-btn {
        height: auto;
    }

    .download-btn {
        margin-top: 50px;
        width: 100%;
        gap: 10px;

        button {
            gap: 10px;
            width: 50%;
        }

        &+.blue-tit {
            width: 50%;
            margin-top: 10px;
            text-align: center;
        }
    }
}


.dropdown-basic-button {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E4E7EA;
    border-radius: 5px;
    color: #A8ABAE;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

}

.dropdown-basic-menu {
    width: 100%;
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
    background: #FFFFFF;
    border: 1px solid #E4E7EA;
    box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
    border-radius: 5px;

    a {
        display: flex;
        width: 100%;
        padding: 14px 20px;
        border-bottom: 1px solid #E4E7EA;
        color: #808386;

        &:last-of-type {
            border-bottom: none;
        }

        &.dropdown-item {
            &.active {
                color: #1B4398;
                display: flex;
                justify-content: space-between;
            }

            &:hover {
                background: #F8FBFE;
            }
        }

    }
}


.drop-type1 {
    width: 371px !important;
}

.drop-type2 {
    width: 237px !important;
}

.drop-type3 {
    width: 203px !important;
}

.drop-type4 {
    width: 790px !important;
}

.drop-type5 {
    width: 351px !important;
}

.dropdown-3 {
    width: 203px;
}

.dropdown-4 {
    width: 237px;
}

.list-group {
    background: #fff;

    &-item {
        color: #808386;
        padding: 10px 16px;
        border-bottom: 1px solid #E4E7EA;

        &.active {
            color: #3686FF;
            position: relative;

            &:after {
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                content: '';
                background: url('/src/assets/images/active-icon.svg');
            }
        }

        &:last-of-type {
            border-bottom: none;
        }
    }
}





// modal
.modal .modal-medium-sm.modal-dialog {
    width: 404px;
}

.modal {
    .modal-body {
        padding: 20px;
    }

    .modal-tit {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #333333;
        text-align: left;
    }

    .modal-subtit {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #808386;
        text-align: left;
        margin-top: 16px;
        margin-bottom: 40px;
    }

    .modal-subtit2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #808386;
    }

    .btn {
        width: 106px;
        height: 48px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }

    .btn-report {
        width: 101px;
        height: 30px;
        box-sizing: border-box;
    }

    .report-radio-wrap {
        .form-check {
            padding: 12px;
            border: 1px solid #E4E7EA;
            box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.04);
            border-radius: 4px;
        }


    }
}

.select-modal {
    .modal-dialog {
        width: 224px;
        padding: 12px 12px 8px;
    }

    .modal-footer {
        padding: 8px 12px;
    }

    &-tit {
        text-align: left;
        font-weight: 700;
        font-size: 12px;
        line-height: 140%;
        color: #94A3B8;
    }

    .select-input-wrap {
        margin-top: 11px;

        .form-check {
            margin-top: 10px;
        }

        input {
            width: 16px;
            height: 16px;
        }

        label {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #475569;
        }
    }

    .sel-btn-wrap {
        button {
            width: 55px;
            height: 26px;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
        }
    }
}

.email-modal {
    .modal-dialog {
        width: 420px;
        padding: 20px;

        .email-modal-tit {
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
            color: #333;
            text-align: left;
            margin-bottom: 30px;
        }

        .btn-wrap {
            margin-top: 30px;
            gap: 10px;
        }
    }

}

.modal .modal-dialog.point-change-modal {
    .modal-header {
        border-bottom: none;
        padding-bottom: 13px;
    }

    .modal-body {
        padding-top: 0;

        .btn-search {
            background: #FFFFFF;
            border: 1px solid #808691;
            box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
            border-radius: 5px;
            color: #808691;
        }

        .input-change-point {
            margin-top: 18px;

            input {
                width: 302px;
                border-radius: 0;
                height: 28px;
            }
        }

        textarea {
            border: none;
            padding: 20px 0;
            border-top: 1px solid #E4E7EA;
            border-radius: 0;
            box-shadow: none;
            border-bottom: 1px solid #E4E7EA;
            height: 173px;
            box-sizing: border-box;
        }

        .btn-change {
            background: #808691;
            box-shadow: 0px 1px 2px rgba(15, 23, 42, 0.08);
            border-radius: 5px;
            color: #fff;
            width: 100px;
            height: 26px;
            box-sizing: border-box;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            margin-top:24px;
        }
    }
}




// business

.business {
    background: #FEFCF8;

    .side-nav {
        background: #FEF6EA;

        .side-menu {
            background: #fff;
        }

        .side-menu--active {
            background: #FF9800 !important;
        }

        .side-menu__sub-icon svg {
            stroke: #FF9800 !important;
        }
    }

    .side-nav ul ul {
        background: #FFFBF5;

        .side-menu.side-menu--active {
            background: #FFFBF5 !important;

        }

        .side-menu {
            background: #FFFBF5;


        }
    }

    .dash-cont-cont3 {
        gap: 20px;
    }
}


.minus-plus-wrap {
    button {
        padding: 7px;
        width: auto !important;
        height: 28px;
        box-sizing: border-box;

        &.minus-gray-btn {
            border: 1px solid #E9E9E9;
            border-radius: 5px 0px 0px 5px;
        }

        &.plus-gray-btn {
            border: 1px solid #E9E9E9;
            border-radius: 0px 5px 5px 0px;
        }
    }

    .number-div {
        padding: 3px 10px 5px;
        border-top: 1px solid #E9E9E9;
        border-bottom: 1px solid #E9E9E9;
        height: 28px;
        box-sizing: border-box;
    }
}


// login
.login-wrap {
    margin-top: 80px;
    gap: 20px;

    .login-left {
        background: #FFFFFF;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        height: 813px;

        img {
            display: block;
            margin-bottom: 16px;
            height: 247px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .login-right {
        width: 440px;
        background: #fff;
        border-radius: 10px;
        height: 813px;
        box-sizing: border-box;

        .nav {
            .nav-link {
                &.active {
                    background: #3686FF;
                    border-radius: 10px 0px 0px 0px;
                    color: #fff;
                    font-weight: 700;
                    border-color: #3686FF;
                    position: relative;

                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        bottom: -6px;
                        left: -1px;
                        height: 4px;
                        width: 427.5px;
                        background: #3686FF;
                    }
                }

                background: #E4E7EA;
                border-radius: 0px 10px 0px 0px;
                color: #A8ABAE;
                font-weight: 700;
            }

            .nav-item {
                &:last-child {
                    .nav-link {
                        &.active {
                            border-radius: 0px 10px 0px 0px;
                            background: #FF9800;
                            border-color: #FF9800;

                            &:after {
                                display: block;
                                content: '';
                                position: absolute;
                                bottom: -6px;
                                left: auto;
                                right: -1px;
                                height: 4px;
                                width: 427.5px;
                                background: #FF9800;
                            }
                        }
                    }
                }

                &:first-child {
                    .nav-link {
                        border-radius: 10px 0px 0px 0px;
                    }
                }

            }
        }

        .tab-content {
            padding: 50px 30px;

            .tab-pane {
                width: auto !important;
            }

            .login-tab-tit {
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                text-align: center;
                color: #0A0A0A;
            }

            .login-tab-subtit {
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: #A8ABAE;
                margin-top: 5px;
            }

            .btn-wrap {
                display: flex;
                flex-flow: column nowrap;
                margin-top: 50px;
                gap: 20px;
                padding-bottom: 50px;

                .button-wrap {
                    gap: 16px;
                    width: 132px;
                }
            }

            .signup-wrap {
                padding: 30px 0;
                border-top: 1px solid #E4E7EA;
                ;
                border-bottom: 1px solid #E4E7EA;
                ;
                box-sizing: border-box;
            }

            .signup-tit {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #0A0A0A;
            }

            .ad-wrap {
                margin-top: 50px;
            }

            .id-wrap {
                margin-top: 50px;
                gap: 20px;
            }

            .find-wrap {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                .save-id {
                    label {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        color: #808386;
                    }
                }

                .find-id-wrap {
                    a {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        color: #808386;
                        position: relative;

                        &:first-child {
                            padding-right: 10px;
                        }

                        &:last-child {
                            padding-left: 10px;

                            &:after {
                                display: block;
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 1px;
                                height: 12px;
                                background: #808386;
                            }
                        }
                    }
                }
            }
        }
    }

}

// find-id

.find-wrap {
    margin-top: 184px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 50px 0;

    .big-logo {
        padding-left: 20px;
    }

    .find-tit {
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: #333333;
        text-align: center;
        margin-top: 50px;
    }

    .find-subtit {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #0A0A0A;
        margin-top: 50px;

    }

    .find-email {
        margin-top: 50px;
        width: 380px;
    }

    .find-btn {
        margin-top: 30px;

        button {
            width: 380px;

        }
    }

    .find-result-tit {
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: #333333;
        margin-top: 50px;

        &.orange {
            span {
                color: #FF9800;
            }
        }

        span {
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            text-align: center;
            color: #3686FF
        }
    }

    .find-pwd-subtit {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;

        color: #333333;
        margin-top: 10px;
    }

    .find-det {
        margin-top: 50px;

        padding: 20px 73px;
        background: #F8FBFE;
        border: 1px solid #E4E7EA;
        border-radius: 10px;

        .find-det-item {

            .det-tit {
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                width: 72px;
                color: #333333;
            }

            .det-cont {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #333333;
            }
        }
    }

    .find-result-subtit {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #A8ABAE;
        margin-top: 30px;

        a {
            border-bottom: 1px solid #A8ABAE;
        }
    }

    .pwd-change-wrap {
        margin-top: 50px;

        input {
            width: 380px;
        }

        .input-det {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            display: flex;
            align-items: center;
            color: #3686FF;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

    .signup-subtit {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #A8ABAE;
        margin-top: 4px;
    }

    .term-wrap {
        width: 380px;

        .term-div {
            padding: 10px 0;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            color: #A8ABAE;
            border-top: 1px solid #E4E7EA;
            border-bottom: 1px solid #E4E7EA;
            margin-top: 10px;
            height: 88px;
            overflow: auto;
            box-sizing: border-box;

            &::-webkit-scrollbar {
                appearance: none;
            }
        }

    }

    .term-tit {
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        text-align: center;
        color: #0A0A0A;
        margin-bottom: 30px;
    }

    .term-check {
        width: 380px;
        text-align: left;
        margin-top: 10px;

        label {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            color: #808386;
        }
    }

    .term-subtit {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #0A0A0A;
        text-align: left;
        width: 380px;
        margin: 20px auto 0;
    }
}

// user-guide-employee

#business.user-guide-business.employee .guide-table .bg1 {
    background: #3686FF;
}

#business.user-guide-business.employee .guide-table th,
#business.user-guide-business.employee .guide-table td {
    border-color: #599BFF !important;
}

#business.user-guide-business.employee .guide-table .bg2 {
    border-color: #CDE1FF;
    background: #DBEAFE;
    color: #3686FF !important;
}

#business.user-guide-business.employee .guide-table .bg3 {
    background: #91C0FF;
    color: #1B4398 !important;
}



// dashboard-box

.sky {
    .box-type2 {
        background: #F8FBFE;
    }
}

.orange {
    .box-type2 {

        background: #FFFDF9;
    }
}

.box-type2 {
    border-radius: 10px;
    padding: 20px;

    .box-tit {
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #1E293B;
    }

    .box-subtit {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: #808386;
    }
}

.bg-box-title {
    background: #F8FAFC;
    border-radius: 10px 10px 0px 0px;
}

.search-box-bg {
    background: #F8FBFE;
    border: 1px solid #EFF7FF;
    box-shadow: 1px 1px 3px rgba(15, 23, 42, 0.08);
    border-radius: 10px;
    padding: 20px;
}

// skill-mng

.skill-mng {
    .error-tit {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #E11D48;
        margin-top: 20px;

        &.navy {
            color: #1B4398;
        }
    }

    .error-subtit {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #A8ABAE;
        margin-top: 6px;
    }

    .code-type-sel {
        margin-top: 10px;

        .code-type-tit {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #333333;
        }

        .code-type-cont {
            margin-top: 10px;
        }
    }
}